Repository opentelekomcloud-infra/zuul-config: changes, and which Zuul jobs are due for each by the changed paths.
All: zuul-config-build-image-f36, zuul-config-upload-image-f36, zuul-config-build-image-f37, zuul-config-upload-image-f37, zuul-config-build-image-f38, zuul-config-upload-image-f38, zuul-config-build-image-f39, zuul-config-upload-image-f39

zuul.d/container-images/fedora.yaml:

- job:
    name: zuul-config-build-image-f36
    description: Build a F36 image.
    parent: zuul-config-build-image
    vars: &zuul-f36_vars
      container_images:
        - context: containers
          container_filename: Dockerfile.f36
          registry: quay.io
          repository: opentelekomcloud/zuul-fedora
          tags: ['36']
    files: &zuul-f36_files
      - containers/Dockerfile.f36
      - zuul.d/container-images/fedora.yaml

- job:
    name: zuul-config-upload-image-f36
    description: Build and upload a f36 image.
    parent: zuul-config-upload-image
    vars: *zuul-f36_vars
    files: *zuul-f36_files

- job:
    name: zuul-config-build-image-f37
    description: Build a F37 image.
    parent: zuul-config-build-image
    vars: &zuul-f37_vars
      container_images:
        - context: containers
          container_filename: Dockerfile.f37
          registry: quay.io
          repository: opentelekomcloud/zuul-fedora
          tags: ['37']
    files: &zuul-f37_files
      - containers/Dockerfile.f37
      - zuul.d/container-images/fedora.yaml

- job:
    name: zuul-config-upload-image-f37
    description: Build and upload a f37 image.
    parent: zuul-config-upload-image
    vars: *zuul-f37_vars
    files: *zuul-f37_files

- job:
    name: zuul-config-build-image-f38
    description: Build a F38 image.
    parent: zuul-config-build-image
    vars: &zuul-f38_vars
      container_images:
        - context: containers
          container_filename: Dockerfile.f38
          registry: quay.io
          repository: opentelekomcloud/zuul-fedora
          tags: ['38']
    files: &zuul-f38_files
      - containers/Dockerfile.f38
      - zuul.d/container-images/fedora.yaml

- job:
    name: zuul-config-upload-image-f38
    description: Build and upload a f38 image.
    parent: zuul-config-upload-image
    vars: *zuul-f38_vars
    files: *zuul-f38_files

- job:
    name: zuul-config-build-image-f39
    description: Build a F39 image.
    parent: zuul-config-build-image
    vars: &zuul-f39_vars
      container_images:
        - context: containers
          container_filename: Dockerfile.f39
          registry: quay.io
          repository: opentelekomcloud/zuul-fedora
          tags: ['39']
    files: &zuul-f39_files
      - containers/Dockerfile.f39
      - zuul.d/container-images/fedora.yaml

- job:
    name: zuul-config-upload-image-f39
    description: Build and upload a f39 image.
    parent: zuul-config-upload-image
    vars: *zuul-f39_vars
    files: *zuul-f39_files

removing gaussdb-nosql from zuul as it will be renamed to geminidb (#200)
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/gaussdb-nosql.yaml
Due: none

adding geminidb to zuul
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/geminidb.yaml
Due: none

adding geminidb to zuul (#201)
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/geminidb.yaml
Due: none

Create doc-constraints.yaml
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/doc-constraints.yaml
Due: none

Create doc-constraints.yaml (#208)
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/doc-constraints.yaml
Due: none

Rename doc-constraints.yaml to docs-constraints.yaml
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/docs-constraints.yaml
Due: none

Rename doc-constraints.yaml to docs-constraints.yaml (#209)
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/docs-constraints.yaml
Due: none

adding typsense repo
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-infra/typesense-dashboard.yaml
Due: none

adding latex packages to dockerfile for fedora38 pod
  containers/Dockerfile.f38
Due: zuul-config-build-image-f38, zuul-config-upload-image-f38

adding latex packages to dockerfile for fedora38 pod (#219)
  containers/Dockerfile.f38
Due: zuul-config-build-image-f38, zuul-config-upload-image-f38

Additional packages for HC Fedora image
  containers/Dockerfile.f38
Due: zuul-config-build-image-f38, zuul-config-upload-image-f38

Additional packages for HC Fedora image (#220)
  containers/Dockerfile.f38
Due: zuul-config-build-image-f38, zuul-config-upload-image-f38

adding fedora41 dockerfile
  containers/Dockerfile.f41
Due: none

adding f41 zuul jobs
  zuul.d/container-images/fedora.yaml
Due: zuul-config-build-image-f36, zuul-config-upload-image-f36, zuul-config-build-image-f37, zuul-config-upload-image-f37, zuul-config-build-image-f38, zuul-config-upload-image-f38, zuul-config-build-image-f39, zuul-config-upload-image-f39

enabling f41 jobs for zuul pipelines
  zuul.d/project.yaml
Due: none

removing non supported python3.7
  containers/Dockerfile.f41
Due: none

adding fedora41 dockerfile (#221)
  containers/Dockerfile.f41
  zuul.d/container-images/fedora.yaml
  zuul.d/project.yaml
Due: zuul-config-build-image-f36, zuul-config-upload-image-f36, zuul-config-build-image-f37, zuul-config-upload-image-f37, zuul-config-build-image-f38, zuul-config-upload-image-f38, zuul-config-build-image-f39, zuul-config-upload-image-f39

adding new fedora pod to nodepool
  nodepool/nodepool.yaml
Due: none

adding new fedora pod to nodepool (#222)
  nodepool/nodepool.yaml
Due: none

adding F40 container
  containers/Dockerfile.f40
  zuul.d/container-images/fedora.yaml
  zuul.d/project.yaml
Due: zuul-config-build-image-f36, zuul-config-upload-image-f36, zuul-config-build-image-f37, zuul-config-upload-image-f37, zuul-config-build-image-f38, zuul-config-upload-image-f38, zuul-config-build-image-f39, zuul-config-upload-image-f39

small fix
  zuul.d/container-images/fedora.yaml
Due: zuul-config-build-image-f36, zuul-config-upload-image-f36, zuul-config-build-image-f37, zuul-config-upload-image-f37, zuul-config-build-image-f38, zuul-config-upload-image-f38, zuul-config-build-image-f39, zuul-config-upload-image-f39

adding F40 container (#223)
  containers/Dockerfile.f40
  zuul.d/container-images/fedora.yaml
  zuul.d/project.yaml
Due: zuul-config-build-image-f36, zuul-config-upload-image-f36, zuul-config-build-image-f37, zuul-config-upload-image-f37, zuul-config-build-image-f38, zuul-config-upload-image-f38, zuul-config-build-image-f39, zuul-config-upload-image-f39

adding new f41 image to pods
  nodepool/nodepool.yaml
Due: none

adding new f41 image to pods (#224)
  nodepool/nodepool.yaml
Due: none

Create otc-openapi-schema-validator.yaml
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-infra/otc-openapi-schema-validator.yaml
Due: none

update codeowners list
  .github/CODEOWNERS
Due: none

update codeowners list (#230)
  .github/CODEOWNERS
Due: none

Fix taurusdb entry
  zuul/tenants/gl/sources/gitea/untrusted-projects/docs/taurusdb.yaml
Due: none

Fix taurusdb entry (#233)
  zuul/tenants/gl/sources/gitea/untrusted-projects/docs/taurusdb.yaml
Due: none

Create otc-metadata-rework
  zuul/tenants/gl/sources/gitea/untrusted-projects/infra/otc-metadata-rework
Due: none

Create otc-metadata-rework (#237)
  zuul/tenants/gl/sources/gitea/untrusted-projects/infra/otc-metadata-rework
Due: none

remove topology designer
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/cloud-topology-designer.yaml
Due: none

remove topology designer (#238)
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/cloud-topology-designer.yaml
Due: none

remove rms
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/resource-management-service.yaml
  zuul/tenants/gl/sources/gitea/untrusted-projects/docs/resource-management-service.yaml
Due: none

remove rms (#239)
  zuul/tenants/eco/sources/github/untrusted-projects/opentelekomcloud-docs/resource-management-service.yaml
  zuul/tenants/gl/sources/gitea/untrusted-projects/docs/resource-management-service.yaml
Due: none

fixing wrong name for zuul-project
  zuul/tenants/gl/sources/gitea/untrusted-projects/infra/otc-metadata-rework.yaml
Due: none

fixing wrong name for zuul-project (#240)
  zuul/tenants/gl/sources/gitea/untrusted-projects/infra/otc-metadata-rework.yaml
Due: none

updating working distro mirror links for ubuntu
  nodepool/nodepool.yaml
Due: none

updating working distro mirror links for ubuntu (#241)
  nodepool/nodepool.yaml
Due: none

adding system-config to zuul
  zuul/tenants/gl/sources/gitea/untrusted-projects/infra/system-config.yaml
Due: none
